[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
torch = "*"
pandas = "*"
tqdm = "*"
ultralytics = "*"
importlib-resources = "*"
zipp = "*"
timm = "==0.6.7"

[dev-packages]

[requires]
python_version = "3.9"
